
body {
    font-family: sans-serif;
    background-color: #000000;
    font-size: 200%;
}



header {
    height: 0px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
}
#posts{
    display: grid;
    justify-items: center;
}
.block {
    padding: 1rem;
    border-radius: 30px;
    width: 90%;
    border: 5px solid rgb(245, 245, 245);
    background-color: #161414;
    color: rgb(166, 166, 166);
    color: white;
    justify-content: center;
    margin-bottom: 20px;
    

}
.close{
    margin-left: 30px;
    display: none;
}
.block2 {
    padding: 1rem;
    border-radius: 30px;
    border: 5px solid rgb(245, 245, 245);
    margin-bottom: 1rem;
    width: 90%;
    background-color: #161414;
    color: rgb(166, 166, 166);
    color: white;
    justify-content: center;
}
.container2{
    margin-top: 20px;
    display: none;
    justify-items: center;
}


.para-block {
    white-space: pre;
    display: block;
}

.para-block2 {
    white-space: pre;
    display: block;
}


.para-block:not(:first-of-type) {
    margin-top: 40px;
}

.para-block2:not(:first-of-type) {
    margin-top: 40px;
}


.card-title {
    text-transform: capitalize;
}
