
body {
    font-family: sans-serif;
    background-color: #000000;
    font-size: 35px;
    overflow:scroll;
}



header {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
}
#posts{
    display: grid;
    justify-items: center;
}
.block {
    display: flex;
    flex-direction: column;
    width: 100%;
    color: white;
    padding-top: 5px;
    padding-bottom: 20px;
    background-color: #002721;
    margin-bottom: 30px;
}
.block2 {
    display: flex;
    flex-direction: column;
    width: 100%;
    color: white;
    padding-top: 5px;
    padding-bottom: 20px;
    background-color: #002721;
    margin-bottom: 30px;
}
.block p, .block2 p{
    align-self: center;
    font-size: 2em;
}

.close{
    margin-left: 30px;
    display: none;
    font-weight: bold;
    font-size: 150%;

}
.container2{
    display: none;
    justify-items: center;
}


.para-block {
    white-space: pre;
    display: block;
    background-color: #004339;
}

.para-block2 {
    white-space: pre;
    display: block;
    background-color: #004339;
}


.para-block:not(:first-of-type) {
    margin-top: 40px;
}

.para-block2:not(:first-of-type) {
    margin-top: 40px;
}


.card-title {
    text-transform: capitalize;
}
