
body {
    font-size: 200%;
    font-family: sans-serif;
    background-color: #000000;
}



header {
    height: 60px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
#posts{
    display: grid;
    justify-items: center;
}
.block {
    padding: 1rem;
    border-radius: 5px;
    border: 3px solid rgb(155, 155, 155);
    box-shadow: 2px 2px 7px rgb(0 0 0 / 30%);
    margin-bottom: 1rem;
    background-color: #161414;
    color: rgb(166, 166, 166);
    width: 90%;
}


.para-block {
    white-space: pre;
    display: block;
}

.para-block:not(:first-of-type) {
    margin-top: 40px;
}

.card-title {
    text-transform: capitalize;
}
.block{
    color: white;
    justify-content: center;
}
